<section class="sign__up">
    <h1 class="sign__up__title">Sign Up</h1>
    <article class="sign__up__content">
        <div class="sign__up__content__image__wrapper">
            <img src="../../../assets/images/1.jpg" alt="image">
        </div>
        <div class="sign__up__content__text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad enim, accusamus, quidem asperiores amet voluptate sit, harum culpa laboriosam commodi id nostrum voluptatem voluptates architecto repellendus dolore. Eius, at earum. </p>
            <p>Lorem, ipsum dolor sit amet consectet. Ad enim, accusamus, quidem asperiores amet voluptate sit, harum culpa laboriosam commodi id nostrum voluptatem voluptates architecto repellendus dolore. Eius, at earum. </p>
            <h2>signing up will take just a few minutes</h2>
            <button>
                <a href="#">Sign Up</a>
            </button>
        </div>
    </article>
</section>
