@use '../../global-styles/' as gs;

.sign__up {
    @include gs.pageFlexCenter(column, center);

    &__title {
        @include gs.pageTitle(gs.$buttonsBackgroundColor);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__image__wrapper {
            @include gs.rotatedImage(60%, auto, 0);
        }

        &__text {
            width: 30%;
            text-align: center;
            line-height: 1.5rem;

            &>h2 {
                text-transform: capitalize;
            }

            &>button {
                @include gs.setButton(gs.$textColor, none, gs.$textColor, gs.$buttonsBackgroundColor, #c87a60);
                
                &>a {
                    font-size: 1.2rem;
                }
            }
        }
    }
}