<header class="header">
    <app-logo/>
    <nav class="header__navigation">
        <ul class="header__list">
            <li class="header__list__item">
                <a routerLink="/">home</a>
            </li>
            <li class="header__list__item">
                <a routerLink="/about">for mxox</a>
            </li>
            <li class="header__list__item">
                <a routerLink="/order">how to order</a>
            </li>
            <li class="header__list__item">
                <a routerLink="/sign-up">sign up</a>
            </li>
            <li class="header__list__item">
                <a routerLink="/contacts">contacts</a>
            </li>
        </ul>
    </nav>
</header>