@use '../../global-styles/' as gs;

.header {
    position: relative;
    width: min(95%, 90rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem 1.4rem;
    margin-inline: auto;
    z-index: 1;

    &__list {
        display: flex;
        padding: 1rem;

        &__item {
           @include gs.setButton (gs.$textColor,none,none,gs.$buttonsBackgroundColor,#c87a60,)
        }
    }
}