<section class="contacts">
    <h1 class="contacts__title">Contacts</h1>
    <p class="contacts__message">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum vel ipsum incidunt sunt
        quaerat sed voluptatibus? Minus dolor minima!</p>
    <article class="contacts__content">
        <div class="contacts__content__information">
            <ul class="contacts__content__information__list">
                <li class="contacts__content__information__list__item">
                    <h3>address:</h3>
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <p>332, My Street, Kingston, New York 12401</p>
                    </div>
                </li>
                <li class="contacts__content__information__list__item">
                    <h3>phone number:</h3>
                    <div>
                        <i class="fa-solid fa-phone"></i>
                        <p>(555) 555-1234</p>
                    </div>
                </li>
                <li class="contacts__content__information__list__item">
                    <h3>email:</h3>
                    <div>
                        <i class="fa-solid fa-envelope"></i>
                        <p>moxo.alon.kate@moxo.com</p>
                    </div>
                </li>
                <li class="contacts__content__information__list__item">
                    <h3>facebook:</h3>
                    <div>
                        <i class="fa-brands fa-square-facebook"></i>
                        <p>alon.kate.facebook.com</p>
                    </div>
                </li>
            </ul>
        </div>
        <div  class="contacts__content__image__wrapper">
            <div class="contacts__content__image__wrapper__inside">
                <img src="../../../assets/images/bw2.png" alt="bw">
            </div>
        </div>
    </article>
</section>