<section class="about">
    <h1 class="about__title">About {{name}}</h1>
    <article class="about__article">
        <div class="about__article__first__image__wrapper">
            <img src="../../../assets/images/c1.png" alt="image">
        </div>
        <p class="about__article__content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sint expedita natus. Placeat distinctio
            cum quis  Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sint expedita natus. Placeat distinctio
            cum  dolor sit, amet consectetur adipisicing elit. Provident sint expedita natus. Placeat distinctio
            cum amet, in consectetur ad. Unde harum vitae neque sunt delectus asperiores vel vero magnam.
        </p>
    </article>
    <article class="about__article reversed ">
        <div class="about__article__second__image__wrapper ">
            <img src="../../../assets/images/c2.png" alt="image">
        </div>
        <p class="about__article__content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sint expedita natus. Placeat distinctio
            cum quis amet, in consectetur ad. Unde harum vitae neque sunt delectus asperiores vel vero magnam.
        </p>
    </article>
    <article class="about__article">
        <div class="about__article__third__image__wrapper">
            <img src="../../../assets/images/c3.png" alt="image">
        </div>
        <p class="about__article__content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sint expedita natus. Placeat distinctio
            cum quis amet, in consectetur ad. Unde harum vitae neque sunt delectus asperiores vel vero magnam.
        </p>
    </article>
    <article class="about__article reversed">
        <div class="about__article__fourth__image__wrapper">
            <img src="../../../assets/images/c4.png" alt="image">
        </div>
        <p class="about__article__content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sint expedita natus. Placeat distinctio
            cum quis amet, in consectetur ad. Unde harum vitae neque sunt delectus asperiores vel vero magnam.
        </p>
    </article>
</section>