<section class="order">
    <h1 class="order__title">How to order</h1>
    <article class="order__content">
        <div class="order__content__image__wrapper">
            <img src="../../../assets/images/2.png" alt="image">
        </div>
        <div class="order__content__text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad enim, accusamus, quidem asperiores amet voluptate sit, harum culpa laboriosam commodi id nostrum voluptatem voluptates architecto repellendus dolore. Eius, at earum. </p>
            <p>Lorem, ipsum dolor sit amet consectet. Ad enim, accusamus, quidem asperiores amet voluptate sit, harum culpa laboriosam commodi id nostrum voluptatem voluptates architecto repellendus dolore. Eius, at earum. </p>
            <h2>It's so easy to order</h2>
            <button>
                <a href="#">order</a>
            </button>
        </div>
    </article>
</section>
