html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background: #fef9f8;
}

main {
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
}
