$header-font: 'Oswald', serif;
$text-font: 'Roboto', serif;

h1,
h2,
h3,
h4{
    font-family: $header-font;
    line-height: 1.1;
    font-weight: 400;
    margin-top: 0;
}

p {
    font-family: $text-font;
    margin-top: 0;
    font-weight: 400;
    font-size: clamp(14px, 8px + 1vw, 16px);
}

li,
a,
a:active,
a:visited {
    text-decoration: none;
    font-family: $text-font;
}